a {
	#color: #3B5998;
	color: #36C;
	text-decoration: none;
}

a:visited {
	#color: #4A6B82;
	color: #36C;
}

a:hover {
	text-decoration: underline;
}

.container {
    width:960px;
    margin:20px auto;
}

.sidebar {
    float:left;
    width:25%;
    background:#f4f4f4;
}

.mainContent {
    float:right;
    width:75%;
}

.itemDetailContainer {
	border: 1px red solid;
	clear:both;
	oveflow:hidden;
	margin: 4px 0;
}

.itemSellerDetail {
	float:left;
	width:25%;
	background:#f4f4f4;
	overflow:hidden;
	#border:1px black solid;
}

.itemDetail {
	float:right;
	width:75%;
}

.itemDetailLeftCol {
	float:left;
	width:75%;
}

.itemDetailRightCol {
	float:right;
	background:#f4f4f4;
	width:25%;
	text-align: center;
}

.itemTimeLeft {
	padding:10px 0;
}

.messageContainer {
	clear:both;
}

.itemRequiredFields {
	float:left;
	width:50%;
}

.itemOptionalFields {
	float:right;
	width:50%;
}

.ideaPostAction {
	clear:both;
}

/*
	Item Edit form
*/

.itemEditContainer dl {
	margin: 1em 0.3em;
}

.itemEditContainer dd {
	margin: 0;
}

.floatLeft {
	float: left;
}

.floatClear {
	clear: both;
}

.floatRight {
	float: right;
}

.itemEditContainer .itemTags dl {
	float: left;
}

.header li {
	display: inline-block;
	list-style-type: none;
	padding-right: 175px;
}

.sidebar .menuOptions li {
	list-style-type: none;
}

.itemDetail .locationInfo {
	color: #999;
}

.itemTag {
	background-color: #E0EAF1;
	color: #3E6D8E;
	border: 1px solid #3E6D8E;
	border-radius: 8px;
	padding: 0 6px;
}