a {
	color: #3B5998;
	#color: #36C;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	#color: #4A6B82;
	#color: #36C;
	color: #3B5998;
}

a:hover {
	text-decoration: underline;
}

.container {
    width:960px;
    margin:20px auto;
}

.sidebar {
    float:left;
    width:25%;
    background:#f4f4f4;
}

.mainContent {
    float:left;
    width:73%;
    border-left: 1px #E9E9E9 solid;
    border-right: 1px #E9E9E9 solid;
}

.postDetailContainer {
	border-top: 1px #E9E9E9 solid;
	clear:both;
	oveflow:hidden;
	margin: 4px 0;
	padding: 12px 0 12px 15px;
}

.postSellerDetail {
	float:left;
	width:17%;
	overflow:hidden;
	text-align: center;
}

.postDetail {
	float:left;
	width:82%;
	padding-left: 5px;
}

.postTimeLeft {
	margin-bottom: 5px;
	color: #3B5998;
}

.postRequiredFields {
	float:left;
	width:50%;
}

.postOptionalFields {
	float:right;
	width:50%;
}

.ideaPostAction {
	clear:both;
}

/*
	Post Edit form
*/

.postEditContainer dl , .userProfileEditContainer dl{
	margin: 1em 0.3em;
}

.postEditContainer dd, .userProfileEditContainer dd {
	margin: 0;
}

.floatLeft {
	float: left;
}

.floatClear {
	clear: both;
}

.floatRight {
	float: right;
}

.postEditContainer .postTags dl {
	float: left;
}

.header li {
	display: inline-block;
	list-style-type: none;
	padding-right: 175px;
}

.postListContainer li, .sidebar .menuOptions li {
	list-style-type: none;
}

ul.postListContainer, ul.threadList, ul.messageList {
	padding-left: 0;
}
.postDetail .postFooter, .messageFooter {
	color: #999;
	font-size: 90%;
	margin-bottom: 5px;
}

.postTitle {
	margin:0px;
	font-size:1em;
	line-height:16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.postDesc {
	color: #000;
	font-weight: normal;
	margin-bottom: 5px;
}

.postTag {
	background-color: #E0EAF1;
	color: #3E6D8E;
	border: 1px solid #3E6D8E;
	border-radius: 8px;
	padding: 0 6px;
	font-weight:normal;
	font-size: 90%
}
a.postTag:hover {
	text-decoration: none;
	background-color: #3E6D8E;
	color: #FFF;
}

.postPhotos {
	height:100px;
	width:100px;
}

.userPhotoSmall {
	width:25px;
	height:25px;
	vertical-align:text-bottom;
}

.postPrice, .postTimeLeft {
	font-weight: normal;
	color: #999;
}

.postTimeLeft {
	font-size:90%;
}

/* Message Thread styling */
.threadList {
	margin-top: 20px;
	width:95%;
}

.threadContainer {
	margin-bottom:10px;
}

.threadHeader {
	margin: 5px 0;
}

/*Message styling*/
.messageList li {
	clear:both;
	overflow:hidden;
}

.messageList {
	margin-left:25px;
}

.messageContainer {
	margin: 1px;
	background-color: #EDEFF4;
	padding-top: 5px;
	padding-left: 5px;
}

.messageUserPhoto, .messageContent {
	float: left;
}

.messageUserPhoto, .messageBody {
	line-height: 10px;
}

.messageBody {
	margin-bottom: 3px;
	color: #333;
}

.messageContent {
	margin-left: 5px;
}

.messageBox {
	padding-left: 9px;
}

.messageFooter {
	font-size:80%;
}