a {
	color: #3B5998;
	#color: #36C;
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	#color: #4A6B82;
	#color: #36C;
	color: #3B5998;
}

a:hover {
	text-decoration: underline;
}

.container {
    width:960px;
    margin:20px auto;
}

.sidebar {
    float:left;
    width:25%;
    background:#f4f4f4;
}

.mainContent {
    float:left;
    width:73%;
    border-left: 1px #E9E9E9 solid;
}

.itemDetailContainer {
	border-top: 1px #E9E9E9 solid;
	clear:both;
	oveflow:hidden;
	margin: 4px 0;
	padding: 12px 0 12px 15px;
}

.itemSellerDetail {
	float:left;
	width:17%;
	overflow:hidden;
	text-align: center;
}

.itemDetail {
	float:left;
	width:82%;
	padding-left: 5px;
}

.itemTimeLeft {
	margin-bottom: 5px;
	color: #3B5998;
}

.messageContainer {
	margin-top: 25px;
}

.itemRequiredFields {
	float:left;
	width:50%;
}

.itemOptionalFields {
	float:right;
	width:50%;
}

.ideaPostAction {
	clear:both;
}

/*
	Item Edit form
*/

.itemEditContainer dl , .userProfileEditContainer dl{
	margin: 1em 0.3em;
}

.itemEditContainer dd, .userProfileEditContainer dd {
	margin: 0;
}

.floatLeft {
	float: left;
}

.floatClear {
	clear: both;
}

.floatRight {
	float: right;
}

.itemEditContainer .itemTags dl {
	float: left;
}

.header li {
	display: inline-block;
	list-style-type: none;
	padding-right: 175px;
}

.itemListContainer li, .sidebar .menuOptions li {
	list-style-type: none;
}

ul.itemListContainer {
	padding-left: 0;
}
.itemDetail .itemFooter {
	color: #999;
	font-size: 90%;
	margin-bottom: 5px;
}

.itemTitle {
	margin:0px;
	font-size:1em;
	line-height:16px;
	font-weight: bold;
	margin-bottom: 5px;
}
.itemDesc {
	color: #000;
	font-weight: normal;
	margin-bottom: 5px;
}

.itemTag {
	background-color: #E0EAF1;
	color: #3E6D8E;
	border: 1px solid #3E6D8E;
	border-radius: 8px;
	padding: 0 6px;
	font-weight:normal;
	font-size: 90%
}
a.itemTag:hover {
	text-decoration: none;
	background-color: #3E6D8E;
	color: #FFF;
}

.itemPhotos {
	height:100px;
	width:100px;
}

.userPhotoSmall {
	width:25px;
	height:25px;
	vertical-align:text-bottom;
}

.itemPrice, .itemTimeLeft {
	font-weight: normal;
	color: #999;
}

.itemTimeLeft {
	font-size:90%;

