@(itemForm: Form[Item], itemId: Long, sellerId: String, submitButtonText: String)
@import helper._
@import html5.tags.html._
@*TODO: Make use of the html5 tags *@
<fieldset>
@if(itemId != null) {
  	<input type="hidden" name="id" value="@itemId"/>
}
  	<input type="hidden" name="sellerId" value="@sellerId"/>
  	  @text(itemForm("title"), 'label -> "Title")
      @inputText(itemForm("price"))
      @inputText(itemForm("addressLine"))
      @inputText(itemForm("city"))
      @inputText(itemForm("state"))
      @inputText(itemForm("zipcode"))
      @inputText(itemForm("country"))

         @select(
         	itemForm("saleDuration"), 
             options = options(Item.expiryDurations),
             '_label -> "Expiry Time"
         )

	<div>Optional
      @inputText(itemForm("description"))
      @inputText(itemForm("contactEmail"))
      @inputText(itemForm("contactPhone"))
    </div>
    <div>
		@repeat(itemForm("tags"), min = 5) { tags => @inputText(tags("tag")) }	        
    </div>	        
</fieldset>	        
       <input type="submit" value="@submitButtonText">
       <!-- a href='routes.ItemController.getItem(itemForm.get.id)' class="btn">Cancel</a-->
