@(items: Collection[Item], ownList: Boolean)
@import helper._
<div class="itemListContainer">
    @for(item <- items) {
	    <div class="itemDetailContainer">
	    	<div class="itemSellerDetail">
	            @if(ownList) {
	                <a href="@routes.ItemController.editItem(item.id)">Edit</a>
	                @form(routes.ItemController.deleteItem(item.id)) {
	                    <input type="submit" value="Delete">
	                }
	             } else {	    	
		    		<div class="userPhoto"></div>
		    		<div class="userName">@item.sellerId</div>@*TODO: Display username *@
	   			}
	    	</div>
	    	<div class="itemDetail">
	    		<div class="itemDetailLeftCol">
	    			<div class="itemTitle"><a href="/items/@item.id">@item.title</a></div>
	    			<div class="itemDesc">@item.description</div>
		    		<div class="locationInfo">		    			
		    			<span>@item.createdTime&nbsp;</span><span>@item.addressLine&nbsp;@item.city, &nbsp;@item.state</span>
	    			</div>	    			
					@if(item.tags.size() > 0) {
		        		<div class="itemTags">
		                @for(itemTag <-item.tags) {
		                	<span class="itemTag">@itemTag.tag</span>
		                }
		        		</div>
		            }
	    		</div>
	    		<div class="itemDetailRightCol">
	    			<div class="itemTimeLeft">
	    				<span id="@item.id-expiry"></span>
	    				<script>$('#@item.id-expiry').countdown({until: new Date("@item.endTime"), format: 'HMS', compact:true});</script>
    				</div>
	    			<div class="itemPrice">$@item.price</div>
	    		</div>
	    	</div>
	    	<div class="messageContainer">
	    		<input type="text" name="message"/>
	    	</div>	    	
	    </div>
    }
</div>