@(title: String)(user:User = null)(content: Html)
@import helper._
<!DOCTYPE html>

<html>
    <head>
		<meta http-equiv="X-XRDS-Location" content="@Application.domainUrl/xrds"/>    
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.countdown.css")">*@
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <script src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type="text/javascript"></script>
        <script src="@routes.Application.javascriptRoutes()" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/message.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/jquery.countdown.min.js")' type="text/javascript"></script>
        <title>@title</title>
    </head>
    <body>
	<div class="container">
		<div id="headerBar" class="header">
			<ul>
				<li>
					<a href="/">TradeFast</a>
				</li>
				<li>
					<span class="searchContainer">
						@form(search.routes.SearchController.search()) {
							<input type="text" name="searchTerm"/>
							<input type="submit" value="Search">
						}
					</span>
				</li>
				<li>
					<span>
						@if(user != null) {
							<ul>
								<li>@user.userName</li>
								<li><a href="@routes.PostController.userPosts(user.userName)">My Posts</a></li>
								<li><a href="@routes.UserController.getUser(user.userName)">Profile Settings</a></li>
								<li><a href="@routes.Application.logout">Logout</a></li>
							</ul>
						} else {
							<a href="@routes.Application.login">Login</a>
						}
					</span>
				</li>
			</ul>
		</div>
		<div class="content">
			<div class="sidebar">
				<div>Trending Tags</div>
				<div class="tagList">
				@****** TODO: Use Ajax to populate this list dynamically ********@
				</div>
			</div>
			<div class="mainContent">
				@content
			</div>			
		</div>
	</div>		
    </body>
</html>