@(title: String)(user:User = null)(content: Html)
@import helper._
<!DOCTYPE html>

<html>
    <head>
		<meta http-equiv="X-XRDS-Location" content="@Application.domainUrl/xrds"/>    
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.countdown.css")">*@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        @*<script src="@routes.Assets.at("javascripts/jquery.countdown.js")" type="text/javascript"></script>*@
        <script src="@routes.Assets.at("javascripts/jquery.countdown.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src=""></script>
        <title>@title</title>
    </head>
    <body>
	<div class="container">
		<div class="header">
			<ul>
				<li>
					<a href="/">TradeFast</a>
				</li>
				<li>
					<span class="searchContainer">
						@form(search.routes.SearchController.search()) {
							<input type="text" name="searchTerm"/>
							<input type="submit" value="Search">
						}
					</span>
				</li>
				<li>
					<span>
						@if(user != null) {
							@user.userName , <a href="@routes.Application.logout">Logout</a>
						} else {
							Welcome Guest !<a href="@routes.Application.login">Login</a>
						}
					</span>
				</li>
			</ul>
		</div>
		<div class="content">
			@if(user != null) {
				<div class="sidebar">
					<div class="profilePhoto"></div>
					<div class="menuOptions">
						<ul>
							<li>
								<a>@user.userName</a>
							</li>
							<li>
								<a href="/userposts/@user.userName">My Posts</a>
							</li>
						</ul>
					</div>
				</div>
			}
			<div class="mainContent">
				@content
			</div>
		</div>
	</div>		
    </body>
</html>